*{
    font-family: 'Heebo', sans-serif;
   font-family: 'Lobster', cursive;
}

.image-bg{
    filter:brightness(45%);
    height:600px;
}

.carousel-caption{
    bottom:80px;
    padding-left:100px;
    padding-right:100px;
}
.carousel-h5{
    font-size:50px;
    top:2rem;

}
.carousel-p{
    font-size:18px;
    top:2rem;
}
btn .btn-1{
    background-color:red;
    color:white;
    border-radius:5px;
    font-size:1rem;

}
  
 .modal-header {
            background: #F7941E;
            color: #fff;
        }
        
.required:after {
            content: "*";
            color: red;
        }
    


